* {
    margin: 0;
    padding: 0;
}

.painel {
    width: 500px;
    height: 500px;
    background-color: #fff;
    margin:1% auto;
    padding-top: 50px;
    border-radius: 20px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

#sim {

    height: 40px;
    width: 60px;
    background-color: rgb(254, 117, 119);
    border: 2px solid white;
    border-radius: 10px;
    color: white;
    cursor: pointer;
    margin-left: -50px;


}

#nao {
    position: absolute;
    height: 40px;
    width: 60px;
    background-color: rgb(254, 117, 119);
    border:2px solid white;
    border-radius: 10px;
    color: white;
    margin-left: 15px;
    cursor: pointer;
}

input {
    display: none;
}

@media screen and (max-width: 800px) {
    .painel {
        width: 330px;
        height: 550px;
        margin:5% auto;
        padding-top: 25px;
        border-radius: 10px;
    }
    
    img {
        max-height:100%;
        max-width:100%;
    }

    h3 {
        font-size: 22px;
        margin-top: 5%;
    }

    #sim{
        height: 50px;
        width: 80px;
        margin-left: -80px;
    }

    #nao {
        height: 50px;
        width: 80px;
        margin-left: 5px;
    }
}

body {
    background-color: rgb(255, 172, 174);
}